<!----
Rahul Seth
17302557

CSU44000 Internet Applications
Assignment#2 – A Simple Cloud Application

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 2- Rahul Seth</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Movie App Dashboard</h1>
        <button v-on:click="Create">Create Database</button><br><br>
        Enter Title: <input v-model="title"> Enter Year: <input v-model="year"> Enter Rating: <input v-model="rating">
        <button v-on:click="Query(year, title, rating)">Query Database</button><br><br>
        <table border = "1">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Realse Year</th>
                    <th>Movie Rank</th>
                    <th>Movie Rating</th>
                    <br>Movie info for ----{{title}} will be displayed below. <br>
                </tr>
            </thead>

            <tbody>
                <tr v-for = "movies in results.movies">
                    <th>{{movies.title}}</th>
                    <th>{{movies.year}}</th>
                    <th>{{movies.rank}}</th>
                    <th>{{movies.rating}}</th>
                </tr>
            </tbody>

        </table>
        <br><br> <button v-on:click="Destroy ">Destroy Database</button><br>
    </div>

    <script>
        const myHeaders = new Headers();
        myHeaders.append(
            "Access-Control-Allow-Origin",
            "http://localhost:3000"
            );
        const myInit = {
            method: "GET",
            headers: myHeaders,
            cache: "default",
            mode: "cors"
        };
        
        var app = new Vue({
            el: "#app",
            data: {
                title: "",
                year: "",
                rating: "",
                results: ""
            },
            methods: {
                Create: create,
                Query: query,
                Destroy: destroy
            }
        })

        function create() {
            console.log("Calling for server.js \n")
            let prom = fetch('/createDB')
            prom.then(response => response.json())
                .then(response => {
                })
        }

        function query(year, title, rating){
           
            const queryUrl = "http://localhost:3000/queryDB/" + title + "/" + year + "/" + rating;
            var queryRequest = new Request(queryUrl, myInit);
            
            fetch(queryRequest)
                .then(response => {
                    return response.json();
               })
               .then(data =>{
                   this.results = data;
                   //console.log(data)
                });
            }

        function destroy() {
            console.log("Calling for server to delete table. \n")
            let prom = fetch('/destroyDB')
            prom.then(response => response.json())
                .then(response => {
                })
        }
        </script>    
    </body>
</html>
