<!----
Rahul Seth
17302557

CSU44000 Internet Applications
Assignment#2 – A Simple Cloud Application
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment 2- Rahul Seth</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Movie App Dashboard</h1>
        <button v-on:click="Create">Create Database</button><br><br>
        Enter Title: <input v-model="title"> Enter Year: <input v-model="year"> Enter Rating: <input v-model="rating">
        <button v-on:click="Query(year, title, rating)">Query Database</button><br><br>
        <button v-on:click="Destroy ">Destroy Database</button><br>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                title: '',
                year: '',
                rating: '',
                responseList: [],
            },
            methods: {
                Create: create,
                Destroy: destroy

            }
        })

        function create() {
            console.log("Calling for server.js \n")
            let prom = fetch('/createDB')
            prom.then(response => response.json())
                .then(response => {
                })
        }

        function destroy() {
            console.log("Calling for server to delete table. \n")
            let prom = fetch('/destroyDB')
            prom.then(response => response.json())
                .then(response => {
                })
        }



    </script>
</body>

</html>
